<body>
    <div class="container py-5 d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title mb-5">
                        @if(enfermero){
                        Actualizar
                        }@else{
                        Crear
                        }
                        Enfermero</h2>
                    <div class="row row-cols-3 justify-content-center">
                        @if(form){
                        <form [formGroup]="form" (submit)="save()" class="w-100">
                            @if(formSubmitted && form.invalid){
                            <div class="alert alert-danger">
                                Tienes que rellenar los campos obligatoriamente.
                            </div>
                            }
                            <div class="mb-3">
                                <div class="mb-3">
                                    <label for="dni" id="dni">DNI</label>
                                    <input id="dni" type="text" placeholder="DNI" class="form-control form-control-lg"
                                        formControlName="dni">
                                    @if(form.controls['dni'].invalid && (form.controls['dni'].dirty || formSubmitted)){
                                    <div class="alert alert-danger">
                                        El campo DNI es obligatorio y debe tener el formato correcto.
                                    </div>
                                    }
                                </div>
                                <div class="mb-3">
                                    <label for="nombre" id="nombre">Nombre</label>
                                    <input id="nombre" type="text" placeholder="nombre" class="form-control form-control-lg"
                                        formControlName="nombre">
                                    @if(form.controls['nombre'].invalid && (form.controls['nombre'].dirty ||
                                    formSubmitted)){
                                    <div class="alert alert-danger">
                                        El campo Nombre es obligatorio y debe tener al menos 2 caracteres.
                                    </div>
                                    }
                                </div>

                                <div class="mb-3">
                                    <label for="apellido" id="apellido">Apellido</label>
                                    <input id="apellido" type="text" placeholder="apellido" class="form-control form-control-lg"
                                        formControlName="apellido">
                                    @if(form.controls['apellido'].invalid && (form.controls['apellido'].dirty ||
                                    formSubmitted)){
                                    <div class="alert alert-danger">
                                        El campo Apellido es obligatorio y debe tener al menos 2 caracteres.
                                    </div>
                                    }
                                </div>

                                <div class="mb-3">
                                    <label for="turno" id="turno">Turno</label><br>
                                    <select formControlName="turno" class="form-control form-control-lg">
                                        <option value="Mañana">Mañana</option>
                                        <option value="Tarde">Tarde</option>
                                        <option value="Noche">Noche</option>
                                    </select>
                                    @if(form.controls['turno'].invalid && (form.controls['turno'].dirty ||
                                    formSubmitted)){
                                    <div class="alert alert-danger">
                                        El campo Turno es obligatorio
                                    </div>
                                    }
                                </div>
                            </div>
                            <div class="text-end">
                                <button class="btn btn-primary">@if(enfermero){Actualizar}@else {Crear}
                                    Enfermero</button>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>