body {
    background: linear-gradient(270deg, #d53369, #daae51, #e91e63, #9c27b0) !important;
    background-size: 800% 800% !important;
    -webkit-animation: AnimationName 30s ease infinite !important;
    -moz-animation: AnimationName 30s ease infinite !important;
    animation: AnimationName 30s ease infinite !important;
}
/* Estilos personalizados para la card y formulario */
.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  }
  
  .card-body {
    padding: 2rem;
  }
  
  .form-control {
    border-radius: 10px;
  }
  
  @media (max-width: 768px) {
    .card-body {
      padding: 1.5rem;
    }
  }
  
  