<body>
    <div class="container py-5 d-flex justify-content-center">
        <div class="col-12 col-md-8 col-lg-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title mb-5">
                        @if(doctor) {
                        Actualizar
                        } @else {
                        Crear
                        }
                        Doctor
                    </h2>
                    <div class="row">
                        @if(form) {
                        <form [formGroup]="form" (submit)="save()" class="w-100">
                            @if(formSubmitted && form.invalid){
                            <div class="alert alert-danger">
                                Tienes que rellenar los campos obligatoriamente.
                            </div>
                            }
                            <div class="mb-3">
                                <label for="dni" class="form-label">DNI</label>
                                <input id="dni" type="text" placeholder="DNI" class="form-control form-control-lg"
                                    formControlName="dni">
                                @if(form.controls['dni'].invalid && (form.controls['dni'].dirty || formSubmitted)){
                                <div class="alert alert-danger">
                                    El campo DNI es obligatorio y debe tener el formato correcto.
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="nombre" class="form-label">Nombre</label>
                                <input id="nombre" type="text" placeholder="Nombre" class="form-control form-control-lg"
                                    formControlName="nombre">
                                @if(form.controls['nombre'].invalid && (form.controls['nombre'].dirty ||
                                formSubmitted)){
                                <div class="alert alert-danger">
                                    El campo Nombre es obligatorio y debe tener al menos 2 caracteres.
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="apellido" class="form-label">Apellido</label>
                                <input id="apellido" type="text" placeholder="Apellido" class="form-control form-control-lg"
                                    formControlName="apellido">
                                @if(form.controls['apellido'].invalid && (form.controls['apellido'].dirty ||
                                formSubmitted)){
                                <div class="alert alert-danger">
                                    El campo Apellido es obligatorio y debe tener al menos 2 caracteres.
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="especialidad" class="form-label">Especialidad</label>
                                <input id="especialidad" type="text" placeholder="Especialidad" class="form-control form-control-lg"
                                    formControlName="especialidad">
                                @if(form.controls['especialidad'].invalid && (form.controls['especialidad'].dirty ||
                                formSubmitted)){
                                <div class="alert alert-danger">
                                    El campo Especialidad es obligatorio.
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="enfermeros" class="form-label">Enfermeros</label><br>
                                <select multiple formControlName="enfermeros" class="form-control form-control-lg">
                                    @for(enfermero of enfermeros; track enfermero.id) {
                                    <option [value]="enfermero">{{enfermero.nombre}} {{enfermero.apellido}}</option>
                                    }
                                </select>
                                @if(form.controls['enfermeros'].invalid && (form.controls['enfermeros'].dirty ||
                                formSubmitted)){
                                <div class="alert alert-danger">
                                    Debes seleccionar al menos un enfermero.
                                </div>
                                }
                            </div>
                            <div class="mb-3">
                                <label for="pacientes" class="form-label">Pacientes</label><br>
                                <select multiple formControlName="pacientes" class="form-control form-control-lg">
                                    @for(paciente of pacientes; track paciente.id) {
                                    <option [value]="paciente">{{paciente.nombre}} {{paciente.apellido}}</option>
                                    }
                                </select>
                                @if(form.controls['pacientes'].invalid && (form.controls['pacientes'].dirty ||
                                formSubmitted)){
                                <div class="alert alert-danger">
                                    Debes seleccionar al menos un paciente.
                                </div>
                                }
                            </div>
                            <div class="text-end">
                                <button class="btn btn-primary">
                                    @if(doctor) {Actualizar} @else {Crear} Doctor
                                </button>
                            </div>
                        </form>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
