<footer class="footer mt-auto py-4 bg-dark text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mb-4">
                <h5>Sobre Mí</h5>
                <p>Soy un programador junior recién graduado en Desarrollo de Aplicaciones Multiplataforma.
                    Tengo experiencia realizando proyectos con AngularJS, Spring Boot, NodeJS y Python en el
                    ámbito web. También he realizado aplicaciones de escritorio con WPF y videojuegos con Unity
                    y aplicaciones móviles con Java y Kotlin utilizando Jetpack Compose.</p>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Enlaces Útiles</h5>
                <ul class="list-unstyled">
                    <li>
                        <a href="https://github.com/rubeen06/PersonalProjects.git" class="text-white" target="_blank">
                            <i class="fab fa-github"></i> Proyectos Personales
                        </a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/rub%C3%A9n-de-la-nieta-27bbb1198/" class="text-white" target="_blank">
                            <i class="fab fa-linkedin"></i> Rubén De la Nieta
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4 mb-4">
                <h5>Contacto</h5>
                <p><i class="fas fa-envelope"></i> {{email}}</p>
                <p><i class="fas fa-phone"></i> +34 616 030 242</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <p>© 2024 Rubén De la Nieta Hernández.</p>
            </div>
        </div>
    </div>
</footer>
