body {
    background: linear-gradient(270deg, #02ff02, #00ff00, #006400, #228b22, #7ffd02, #1d3000, #adfd00) !important;
    background-size: 800% 800% !important;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    max-width: 600px;
    margin: 20px auto;
}

.card {
    border: none;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-header {
    border-radius: 15px 15px 0 0;
    font-size: 1.25rem;
}

.card-body {
    padding: 3rem;
}

.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

.card-text {
    font-size: 1rem;
    color: #6c757d;
}