<body>
    <div class="container">
        <div class="card">
            <div class="card-header bg-dark text-white">
                Enfermero ID: {{enfermero.id}}
            </div>
            <div class="card-body">
                <h5 class="card-title">{{enfermero.nombre}} {{enfermero.apellido}}</h5>
                <p class="card-text">
                    DNI: {{enfermero.dni}}<br>
                    Turno: {{enfermero.turno}}<br>
                    Doctor: {{enfermero.doctorId}} 
                </p>
            </div>
        </div>
    </div>
</body>

